/*style.scss*/

$blue: #99EBFF;
$light-blue: #F0FFFF;

body {
    background-color: $light-blue;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}
header {
    padding: 0 0 0 15px;
    width: 100%
}
#wrapper {
    width: 85%;
    max-width: 1133px;
    margin: 0 auto;
}
#complete {
    background-color: $light-blue;
}
section.content { 
    background-color: $blue;
    width: 100%; 
    float:right;
    
}

aside.sidebar { 
    background-color: $blue;
    width: 25%; 
    float:left; 
    padding: 0 22px 0 15px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    outline: none;
}
button:hover{
    background-color: #E6E6E6; 
}

#sudokuTable {
    top: 0;
    background-color: $blue;
    margin: 0 auto 0 auto;
    padding: 20px;
}

#timer {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

input {
    -webkit-appearance: none; 
    box-shadow: none;
    outline: none;   
    border: none;
    background-color: white; 
    text-align: center;
    width: 1.6em;
    height: 1.6em;
    font-size: 1.5em;
}

.grey_block {
    background-color: #E6E6E6;
}

footer {
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 480px) { 
    aside { 
        float:none; 
    } 
}
